<!DOCTYPE html>
<html>

<head>
    <title>@v(APPNAME) | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet" href="@asset(css/craft.css)">
</head>

<body>
    <form class="pure-form pure-form-aligned text-center" action="@url(/Login)" method="POST">
        <fieldset class="center box-shadow">
            <h1 align="center"><a href="@url(/)"><img src='@asset(img/auth.png)' style="height: 20vh" ></a></h1>
            <div class="pure-control-group">
                <span class="message">@v($message)</span>
            </div>
            <div class="pure-control-group">
                <input type="text" id="aligned-name" placeholder="E-mail" name="username" required />
            </div>
            <div class="pure-control-group">
                <input type="password" id="aligned-password" placeholder="Password" name="password" required />
            </div>
            <div>
                <label for="remember-me" class="pure-checkbox">
                    <input type="checkbox" id="remember-me" name="remember" value="remember" /> Remember me</label>
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
            <div class="pure-control-group">
                <a href="@url(/Login/Vue)">Switch to Vue app</a>
            </div>
        </fieldset>
    </form>    
</body>

</html>